---
const { imagePath, altText, cardName, regions } = Astro.props;
---

<div class="card xl:col-span-2 lg:col-span-5 md:col-span-10 sm:col-span-10 col-span-10">
    <img
        src={imagePath}
        alt={altText}
        loading="lazy"
        class="rounded-xl"
    />
    <div class="pl-3">
        <h2>{cardName}</h2>
        <p>{regions}</p>
    </div>
</div>
