---
const regions = [
    "Noxus",
    "Demacia",
    "Runeterra",
    "Freljord",
    "Shadow Isles",
    "Targon",
    "Ionia",
    "Shurima",
    "Bilgewater",
    "Piltover & Zaun",
    "Bandle City",
];
---
<div class="nav-links">
  {regions.map((region) => <a>{region}</a>)}
</div>
