---
const regions = [
  "Noxus",
  "Demacia",
  "Runeterra",
  "Freljord",
  "Shadow Isles",
  "Targon",
  "Ionia",
  "Shurima",
  "Bilgewater",
  "Piltover & Zaun",
  "Bandle City",
];
---

<nav
  class="nav-links sticky top-0 pt-4 pb-4 navbar grid grid-cols-11 gap-1 mx-auto"
>
  {regions.map((region) => <a>{region}</a>)}
</nav>
