---
import GoogleAnalitycs from "../components/GoogleAnalytics.astro";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<GoogleAnalitycs />
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="img/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
